<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<div class="container" role="main">
  <div class="jumbotron">
    <h1>Robot Arm Control</h1>
  </div>
  <div class="row" style="height: 480px">
    <div class="col-md-8">
      <img style="-webkit-user-select: none;margin: auto;" src="http://localhost:3000/video_feed">
    </div>
    <div class="col-md-4" style="height: 480px">
      <div class="row" style="height: 120px">
        <div class="zone active" id="zone_joystick0"></div>
      </div>
      <div class="row" style="height: 120px">
        <div class="zone active" id="zone_joystick1"></div>
      </div>
      <div class="row" style="height: 120px">
        <div class="zone active" id="zone_joystick2"></div>
      </div>
      <div class="row" style="height: 120px">
        <div class="zone active" id="zone_joystick3"></div>
      </div>
    </div>
  </div>